<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${category.categoryName}">Category</title>
	<link rel="stylesheet" type="text/css" href="/css/category.css">
</head>
<body>
	<div class="container">
		<header>
			<h1 th:text="${category.categoryName}">Name</h1>
		</header>
		<main>
		 <section class="info">
      		 <figure>
           		<img th:src="|/images/${category.categoryImageUrl}.jpg|"/>
        	</figure>
			<h2>What are these languages?</h2>
			<address th:text="${category.categoryDescription}">Category Description</address>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	 	</section>
		</main>
		<footer>
			<a href="/categories">Back to Home</a>
			<small>&copy; 2018</small>
		</footer>
	</div>	
</body>
</html>