<head>
	<title>Contacts</title>
	<link rel="stylesheet" type="text/css" href="/css/categories.css">
</head>
<body>
	<div class="container">
		<nav class="main-nav" id= "anime">
			<ul>
				<li th:each="category : ${categories}"> <!--th:href="|/categories/${category.id}|">-->
					<a th:href="|/categories/${category.id}|" th:text="${category.categoryName}">Category Name</a>	
			</ul>
		</nav>
		<main>
		<section class="info">
      		 <figure>
            <img src="./images/code-1839406_640.jpg" alt="hero image">
        	</figure>
      		<div class = "boxes">
        	<ul>
				<li th:each="category : ${categories}"> <!--th:href="|/categories/${category.id}|">-->
					<ul class = "box">
						<li th:each="review : ${category.reviews}">
							<a th:href="|/reviews/${review.id}|" th:text="${review.languageName}"></a>
							<span th:text="|User-Friendliness: ${review.userFriendliness}/10     Usefulness: ${review.usefulness}/10|"></span>
						</li>
					</ul>
				</li>
			</ul>
      	</div>
    	</section>
		</main>
		<footer>
			<small>&copy; 2018</small>
		</footer>
	</div>	
</body>
</html>