<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${category.categoryName}">Category</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<header>
			<h1 th:text="${category.categoryName}">Name</h1>
		</header>
		<main>
					<h2>What are these languages?</h2>
					<address th:text="${category.categoryDescription}">Category Description</address>
		</main>
		<footer>
			<a href="/categories">Back to Home</a>
			<small>&copy; 2018</small>
		</footer>
	</div>	
</body>
</html>